body {
    margin:0;
    font-family: 'Raleway', sans-serif;
    padding:0;

}


html {
    scroll-behavior: smooth;
}
.menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    top:0px;
    min-height: 8vh;
   
}

#contenedor {

    max-width: 1200px;
    width: 90%;
    margin: auto;
}

li {
    flex: auto;
}

header {
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    

}


.links {
    display: flex;
    justify-content: space-around;

}

.links li  {
    list-style: none;
   margin-right: 35px;
    margin-top: 15px;
  
}

.links a  {
    text-decoration: none;
    color: #374786;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    
   
}

header li a:hover{
    
    color: #832E37;
    transition: 0.9s;
    border-bottom: 2px solid #832E37;

}

.logo {
    max-width: 250px;
    padding: 2px 42px;
    overflow: hidden;
    vertical-align: middle;
    
  }

 .icon-bar {
    
        position: fixed;
        top: 50%; 
        z-index: 2000;
        transform: translateY(-50%);
        margin: 140px 0px;
        padding:0px;
        height: 300px;
        width: 300px;
        float: left;

 }

.icon-bar ul li  {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.icon-bar ul {
    margin-left: 0px;
    width: 70%;
}

.icon-bar ul li a{
position: relative;
margin-bottom: 0px;

}



.icon-bar a img {

    background-color: white;
   
    padding: 13px 9px;
}


  @font-face {
    font-family: "BebasNeue-Regular";
  
    src: url('../fonts/BebasNeue-Regular.woff') format("woff"), /* Modern Browsers */
    url('../fonts/BebasNeue-Regular.woff2') format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }



.burger {
    display: none;
    cursor: pointer;
}


.burger div {
    width: 22px;
    height: 3px;
    background-color: #374786;
   margin: 6px;
   
}





  @media(max-width: 768px){
    body {
        overflow-x: hidden;
    }
    .logo{
        display: flex;
        margin:auto;
            
    }


    
  .links {
      position: absolute ;
      right: 0px;
      height: 92vh;
      top:8vh;
      background-color: white;
      display: flex ;
      flex-direction: column;
      align-items: center;
      width: 50% ;
      transform: translateX(100% );
      transition: transform 0.5s ease-in;
  }

  .links li {
      opacity: 0;
  }

  .burger  {
      display: block;
      
  }

  }


  .nav-active {
      transform: translateX(0%);
  }


@keyframes navlinkfade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-6px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-7px);
}


#home {
    background: linear-gradient(rgba(38, 94, 115, .3),  rgba(96, 171, 245, .3)),  url('../img/shutterstock_373218787_hornblower_rainbow.jpg');
    text-align: center;
    height: 100vh;
    display: flex;
    background-size: cover;
    
}

#home h2  {
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    text-shadow: 0 0.05em 0.3em rgba(0,0,0,.2);
    padding: 10vh 0 0 0;
    margin: 0;
    font-family: 'BebasNeue-Regular', sans-serif;
    margin-bottom: 10px;
    
}


#home h1  {
    color: white;
    font-size: 100px;
    letter-spacing: 4px;
    text-shadow: 3px 3px rgba(0,0,0,.2);
    font-weight: bold;
    margin: 0;
    font-family: 'BebasNeue-Regular', sans-serif;
    margin-bottom: 34px;
    
}

#home a {
    margin-top: 30px;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #116538;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    
}


#history{
   height: auto;
   display: flex;
   background-color: #e6e6e6;
}


.contenedor1 {
  
    margin: auto;
    display: flex;
    
}


#left {
    width: 50%;
    height: auto;
}

#right {
    width: 50%;
    height: auto;
    background: url('../img/edward-koorey-Gcc3c6MfSM0-unsplash.jpg') no-repeat;
    background-size: cover;
    
    
}

#history h2 {
    margin-top:0px;
    font-family: 'Lexend Tera', sans-serif;
    padding-top: 6vh;
    font-size: 26px;
    text-align: center;

}


#history h3 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px #ccc;
    font-weight: bold;
}



#history p {
    margin-left: 60px;
    margin-right:60px;
    line-height: 26px;
    display: flex;
    text-align: justify;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
    
}



#tickets{
    height: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #92afbb, #ceddcc);
 }

 #tickets h2 {
     margin-top: 0;
     font-family: 'Lexend Tera', sans-serif;
     font-size: 34px;
     text-align:  center ;
     padding: 6vh 0 0 0;
     color: #00416A;
     margin-bottom: 15px;
     text-shadow: 2px 2px rgb(97, 96, 110);
 }

 #tickets #sub {
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: 18px;
    margin-bottom: 18px;
    font-size: 16px;
    word-spacing: 4px;
    text-align:  center ;
    color: #000000;
}




 .contenedorcards {
     width: 100%;
     max-width: 1200px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    margin: auto;
 }

 .contenedorcards .card {
     width: 330px;
     height: 380px;
     border-radius: 9px;
     overflow: hidden;
     margin: 20px;
     text-align: center;
     display: block;
   margin-bottom: 60px;
     background-image: linear-gradient(to right, #eef1ea, #d1d6c8, #d3d9ca, #d6ddcb, #d9e0cd);
     box-shadow: 20px 12px 30px 0 rgba(102, 104, 105, 0.3);  

 }

 .card h4 {
     color: #01253b;
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     word-spacing: 4px;
 }

 .card p {
    color: #212221;
    font-weight: bold;
    text-align: center;
    margin-bottom: 26px;
    font-size: 15px;
}

.card a {
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    color: white;
    font-size: 18px;
    padding-bottom: 6px;
    background-color: #01071d;
    border-radius: 20px;
    box-shadow: 2px 2px #363638;
    
}

.card a:hover {
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    color: #363638;
    font-size: 18px;
    letter-spacing: 5px;
    padding-bottom: 6px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #618AB9;
    font-weight: bold;
    box-shadow: 2px 2px #ccc;
    transition: width 350ms ease-in-out;

}

#fireworks {
    height: auto;
    
}

#contenedor2 {
   
    margin: auto;
    display: flex;
}


#leftt {
    width: 50%;
    height: auto;
    background: url('../img/fw.jpg') no-repeat;
    background-size: cover;
    
}

#rightt {
    width: 50%;
    height: auto;
    background-color: #E6E6E6;
    
    
}

#rightt h2 {
    margin-top: 0px;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lexend Tera', sans-serif;
    padding-top: 6vh;
    font-size: 2.5em;
    letter-spacing: 5px;
    color: #03342E;
    text-shadow: 2px 2px #9aac9e;
    
}

#rightt hr {
    margin-bottom: 30px;
}

#rightt p {
    margin-left: 60px;
    margin-right:60px;
    line-height: 26px;
    text-align: justify;
    font-size: 16px;
    color: #000000;
    font-family: 'Poppins', sans-serif;

}

#illumination {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to right top, #d3e7ed, #d1e7ea, #d0e7e5, #d1e7e1, #d3e6dc, #d0e1d6, #cddcd0, #cad7ca, #c0ccc1, #b6c1b9, #adb7b0, #a4aca7);background-image: linear-gradient(to top, #ffffff, #f8fafd, #edf5fa, #e2f1f3, #daede8, #d7e9e2, #d5e5db, #d4e1d5, #d1ded4, #cfdcd3, #cdd9d1, #cbd6d0);
}

#illumination h5 {
   
    margin-top: 0px;
   text-align: center;
   padding-top: 7vh;
   margin-bottom: 20px;
   padding-bottom: 0px;
   font-family: 'Lexend Tera', sans-serif;
   font-size: 2.5em;
   color: #0e262f;
   letter-spacing: 2px;
   text-shadow: 2px 2px  rgb(131, 123, 123);

}

#illumination hr {
    background-color: #768c7f;
     height: 1px; 
     border: 0;
     margin-bottom: 30px;
}

#illumination p {
    text-align: justify;
    color: #000000;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
}

.contenedorimg {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   
}

.contenedorimg .imge {
     margin-top: 30px;
    margin-left: 0px;
    margin-right: 40px;
    display: block;
    margin-bottom: 60px;

}

#mapdir {
    height: auto;

    
}

#cont1 {
    display: flex;
    margin: auto;
}

#izq {
    width: 50%;
    height: auto;
    background-color: #E6E6E6;
  

    
}



#izq h2 {
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0.04em 0.04em 0 #9cb8b3;
    font-family: 'Lexend Tera', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 2vh;
}

#izq p, h5{
    margin-left: 60px;
    margin-right: 60px;
    text-align: justify;
    display: block;
}

#op {
    margin-top: 30px;
    font-family: 'Cinzel', sans-serif;
    font-size: 18px;
   color: #01071d;
   text-shadow: 2px 2px #9aac9e;
    margin-bottom: 20px;
 
    padding-bottom: 0px;
}
#oq{
    font-family: 'Cinzel', sans-serif;
    font-size: 18px;
   color: #01071d;
   text-shadow: 2px 2px #9aac9e;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 0px;
}

#t1{
     
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 16px;
}

#t2{
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 16px;
    margin-bottom: 40px;

}
#der {
    width: 50%;
    height: auto;
    background-color: teal;
    
}








#contact {
    height: auto;
    display: flex;
    flex-direction: column;
    background: white;
}


#contact h2 {
    margin: 0;
    padding: 6vh 0  0 0;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px #4f706b;
    font-family: 'Lexend Tera', sans-serif;
    text-transform: uppercase;
    color: #0e262f;

}


#contact p {
    text-align: justify;
margin-right: 0;
padding-right: 0;
line-height: 28px;
font-family: 'Poppins', sans-serif;
color: #000000;
font-size: 16px;
margin-bottom: 40px;
    
}


form {
    background-image: linear-gradient(to left bottom, #d0ceee, #b6d6f4, #a1dded, #a1e1d8, #b6e1be);
    padding: 10px 20px 30px 20px;
    border-radius:7px;
    height: 455px;
    width: 400px;
   margin: auto;
   margin-bottom: 40px;
   font-family: 'Poppins', sans-serif;
    
}




form input 
{ 
   width:100%;
   background: #fff;
   border: 0; 
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}  

form textarea {
    width:100%;
    height: 150px;
    resize: none;
    display: block;
    margin-bottom: 20px;

 }

.sub {
    background:#01071D;
    color: white;
    
    box-shadow: none;
    border-style: none;
    text-transform: uppercase;
    width: 100px;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 12px;
    display:block;
    margin-left: 144px;
}


#toTop {
    
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: none;
    text-indent: 100%;
    background: url(../img/totop.gif) no-repeat left top;
}



footer {
    padding: 16px 0;
    background: rgb(226, 222, 222);
    text-align: center;
}

footer p {
    font-weight: bold;
    color: #03342E;;
    font-family: 'Poppins', sans-serif;
}